.profile__two-info{
  margin: 0;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width:768px){
  .profile__two-info{
    flex-direction: column;
    margin-bottom: 32px;
    justify-content: center;
  }
}